.Webform .form-content {
  margin-top: 200px;
}

.Webform .form-section {
  border-radius: 10px;
  padding: 20px;
  background: rgb(200, 216, 200);
}

.Webform .header {
  background-image: url('/public/cafe.jpg');
  background-size: cover;
  background-position: center;
  filter: brightness(180%);
}

.Webform .header h1 {
  background: rgba(255, 255, 255, 0.4);
}