.Success #event-link-button {
  background: #005344;
  border-color: #21A07C;
}

.Success #home-link {
  border-color: #21A07C;
  color: #21A07C;
}
.Success #home-link:hover {
  background: #005344;
  color: white;
}

.Success .msg-container {
  max-width: 1800px;
}

.Success .highlight {
  border-radius: 10px;
  background: #BBE0CA;
  max-width: 1000px;
}

.Success .content {
  padding: 20px;
  margin-left: 1em;
}

.Success .spacer {
  height: 12rem;
}