.Footer {
  margin: 3em 0 0 0;
  padding: 5em 20px 20px 20px;
  min-height: 400px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.Footer .acknowledgement {
  font-size: smaller;
}

/* .Footer .logos {
  border: 1px solid rgb(255, 144, 162);
} */

.Footer .logos img {
  display: inline-block;
  margin: 0;
  height: 10vw;
  min-height: 98px;
  max-height: 120px;
  width: auto;
  /* border: 1px solid yellow; */
}